@model Resumemanager.Models.Application

@{
    ViewData["Title"] = "Create";
}
<div class="col-11 mx-auto pt-0">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Create Application</h4>
        </div>
    </div>
</div>


<hr />
<form enctype="multipart/form-data" asp-action="Create">
<
    div class="row">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TotalExperience" class="control-label"></label>
                <input asp-for="TotalExperience" class="form-control" />
                <span asp-validation-for="TotalExperience" class="text-danger"></span>
            </div>
            </div>

            <div class="col-md-6 btn-group">
                <div class="form-group col-8 p-0">
                    <label asp-for="ProfilePhoto" class="control-label"></label>
                    <div class="custom-file"> 
                        <input asp-for="ProfilePhoto" class="custom-file-input" id="customFile" onc />

                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            CompanyName
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            YearsWorked
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i= 0; i < Model.Experiences.Count; i++)
                                   {
                       <tr>
                           <td>
                               @Html.EditorFor(x => x.Experiences[i].CompanyName, new {htmlAttributes = new { @class = "form-control"}})
                              @* <input asp-for="@item.CompanyName" class="form-control" />*@
                           </td>
                            <td>
                                 @Html.EditorFor(x => x.Experiences[i].Designation, new {htmlAttributes = new { @class = "form-control"}})
                               @*<input asp-for="@item.Designation" class="form-control" />*@
                           </td>
                            <td>
                                 @Html.EditorFor(x => x.Experiences[i].YearsWorked, new {htmlAttributes = new { @class = "form-control"}})
                               @*<input asp-for="@item.YearsWorked" class="form-control" />*@
                           </td>
                       </tr>
                   }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
    
</>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
